@charset "utf-8";

/* CSS Document */
/*!
 * Bootstrap v3.2.0 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300");
@font-face {
	font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/OpenSans-Regular.ttf);

}
@font-face {
	font-family: 'OpenSans-Semibold';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/OpenSans-Semibold.ttf);

}
@font-face {
	font-family: 'OpenSans-Light';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/OpenSans-Light.ttf);

}
@font-face {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/OpenSans-Regular.ttf);

}
.amt-sty{
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: 300;
  font-size:24px;
}
hr{
margin:50px 0;
color:#eee;
}

ul li.active{ /*IE6 hack- hide gooey effect from that browser*/
_visibility: hidden; /*IE6 rule*/
}



/* ######### Thick Underline Menu CSS ######### */


ul.underlinemenu{
margin: 0;
margin-bottom:1em;
padding: 0;
list-style: none;
position:relative;

text-align: center; //set value to "left", "center", or "right"*/
}

ul.underlinemenu li{
display: inline;
}
@media (max-width: 768px) {
ul.underlinemenu li{
display:list-item;
text-align:left;
}

}
ul.underlinemenu li a{
font-family: 'OpenSans-Semibold';
font-size:15px;
color: black;
padding: 8px;
margin-right: 20px; /*spacing between each menu link*/
text-decoration: none;
}


ul.underlinemenu li.active{ /*style of LI that gets dynamically added to menu to create background effect*/
position:absolute;
width:0;
border-bottom:5px solid navy;
}




