@media(max-width:490px){
	.phone_submit{
			padding:3px 15px;
			margin-left:2px;
	}
}

@media(max-width:1050px){
	.why_download p{
		margin-bottom:50px;
	}
	.no-disp{
		display:none;
	}
	.copyright{
		padding-left:0px;
	}
	.blue_bg_img{
		background-image:linear-gradient(-2deg,white 0%,white 5%,#01b0cd 5%,#01b0cd 95%,white 95%,white 100%);
		padding:40px 0px;
	}
	.red_bg_img{
		background-image:linear-gradient(-2deg,white 0%,white 5%,#ff6a66 5%,#ff6a66 95%,white 95%,white 100%);
		padding:40px 0px;
	}
	.why_download p {
  margin-bottom: 15px;
}
}