body { 
    padding-top: 65px; 
}
.profile_ul{
	border:1.8px solid #ccc;
}
.profile_ul{
	border-bottom:0px solid #ccc;
	margin-bottom:20px;
}
.profile_ul li a{
	color:#000;
	text-decoration: none;
	font-size:15px;
	
}
.eprofile {
	display:none;
}
.top_menu {
    bottom: 0;
    margin-top: 8px;
}
.btn-save {
    background-color: #e01e31;
    border-radius: 0;
    color: #fff;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 13px;
}
.top_menu li {
    border-right: 1px solid gray;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    list-style: outside none none;
    padding: 4px 41px;
    text-align: center;
    text-transform: uppercase;
}
.top_menu li.last{ border-right:0px; }

.profile_img {
    border: 4px solid #fff;
    height: 78px;
    margin-top: 19px;
    outline: 0 none;
    width: 82px;
}
.profile_nav {
    background-color: rgba(0, 0, 0, 0.51);
    bottom: 0;
    height: 66px;
    position: relative;
    text-align: center;
    top: 21px;
    width: 100%;
}
.profile_top{
	background:url(../images/profile/profile_top.png) no-repeat center;
	background-size:cover;
	height:213px;
	margin-top: -13px;
}
.profile_list li {
    background-image: url("../images/profile/list_icon.png");
    background-position: left top;
    background-repeat: no-repeat;
    clear: both;
    display: block;
    line-height: 20px;
    margin: 4px 0 1px;
    padding: 0 6px 0 50px;
}
.top_name{
	color:#fff;
	font-size:20px;
}
.btn-clear{
	background-color:rgb(142,154,166);
	border-radius: 0px;
	color:#fff;
	margin-top:10px;
	padding:5px 20px;
}
.btn-send{
	background-color:rgb(38,169,225);
	border-radius: 0px;
	color:#fff;
	margin-right:15px;
	margin-top:10px;
	padding:5px 20px;
}

.blue_date{
	color:rgb(28,98,116);
}
.red{
	color:red;
}
.green{
	color:green;
}
.padding-10{
	padding:10px;
}
.tab-pane >.table > tr >td{
	padding:10px;
}
.c_history > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 3px 9px 0px 10px;
    vertical-align: middle;
}
#pinfo{
	padding:7px 10px;
}
.c_history{
	font-size:13px;
}
.t_history{
	text-transform: capitalize;
}
.t_history tr{
	border-bottom:1px solid #ccc;
}
.tab-pane .border-none th{
	border-top:0px;
}
.edit_profile{
	text-decoration: none;
	color:#000;
}
.edit_profile:hover{
	text-transform:none;
	color:#000;
}
.border-none > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 0px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}

.profile_name{
	font-size:18px;
	display: inline-block;
}
.profile_ul li .glyicon{
	float:right;
	padding-right:4px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	border-radius:0px;
	background-color:#01b0cd;
	color:#fff;
	font-size:15px;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #01b0cd;
    border-color: #337ab7;
}
.nav-pills > li > a {
    border-bottom: 2px solid rgb(212, 212, 212);
    border-radius: 0;
}
.nav-stacked > li + li {
    margin-left: 0;
    margin-top: 0;
}
.tab-pane{
	border:1px solid #ccc;
	background:rgb(247,247,247);
	padding:0px;
	min-height: 305px;
}

    .table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
.thead3 {
    background-color:#ededed;
    font-size: 10px !important;
    height: 42px;
    padding: 5px !important;
    text-align: center;
    text-transform: uppercase;
}
.thead3 th{
     padding: 8px 22px;
}
.table-fixed > thead > tr > td, .table > thead > tr > th { padding:8px 24px;}
.imgcenter{
    margin:0px auto;
}
@media(max-width:1200px) and (min-width:990px){
    .table-fixed > thead > tr > td, .table > thead > tr > th { padding:8px 16px;}

}
@media(max-width:705px){
    .table-fixed > thead > tr > td, .table > thead > tr > th { padding:8px 16px;}

}



.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
.thead3 {
    background-color:#ededed;
    font-size: 10px !important;
    height: 42px;
    padding: 5px !important;
    text-align: center;
    text-transform: uppercase;
}
.thead3 th{
     padding: 8px 22px;
}
.table-fixed > thead > tr > td, .table > thead > tr > th { padding:8px 24px;}
.imgcenter{
    margin:0px auto;
}
@media(max-width:1200px) and (min-width:990px){
    .table-fixed > thead > tr > td, .table > thead > tr > th { padding:8px 16px;}

}
@media(max-width:705px){
    .table-fixed > thead > tr > td, .table > thead > tr > th { padding:8px 16px;}

}
@media(max-width:768px){

.top_menu li {
    border-right: 1px solid gray;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    list-style: outside none none;
    padding: 3px 20px;
    text-align: center;
    text-transform: uppercase;
}
.top_menu li.last{ border-right:0px; }
}
@media(max-width:540px){
.top_menu li {
    border-right: 1px solid gray;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    list-style: outside none none;
    padding: 3px 5px;
    text-align: center;
    text-transform: uppercase;
}
}