		#wrapper {
	background-color: #fff;
	width: 100%;
	height: 180px;
	left: 0;
	top: 50%;
}
#carousel div {
	text-align: center;
	float: left;
	position: relative;
	border: 1px solid;
	display: table;
	height:120px;
	width:120px;
	border-radius: 100px;
	margin-left:40px;
	margin-right:40px;
	display:block;
}
#carousel div:before {    
    content: ' ';
    display: inline-block;
    vertical-align: middle;  
    height: 100%;
}

#carousel div img {
	max-width:90px;
	display:table-cell;
	vertical-align:middle;
	  
}
#carousel div span {
	display: none;
}
#carousel div:hover span {
	background-color: #333;
	color: #fff;
	font-family: Arial, Geneva, SunSans-Regular, sans-serif;
	font-size: 14px;
	line-height: 22px;
	display: inline-block;
	width: 100px;
	padding: 2px 0;
	margin: 0 0 0 -50px;
	position: absolute;
	bottom: 30px;
	left: 50%;
	border-radius: 3px;
}