ul{
	list-style-type:none;
}

.footer-section{
	background-color:#E0E0E0;
}

.footer_list{
	display:table-cell;
	margin:30px auto;
}

.footer_list li{
	margin:10px 0px;
}
.footer_list a{
	color:black;
	padding-left:10px;
}
.footer_list img{
	margin-top:0px !important;
}
.footer_heading{
	border-bottom: 2px solid #919191;
	margin: 30px 0px !important;
	font-size: 18px;
	display: table;
	padding: 0px 10px 10px;
}
.copyright{
	color:white;
	background:black;
	padding:10px 0px;
}
.copyright span{
	margin-left:30px;
}

/* CSS FOR FOOTER ENDS */

/* CSS FOR MOBILE BEGINS*/
@media(max-width:768px){
	.no-disp{
		display:none;
	}
}	
/* CSS FOR MOBILE ENDS */