/*CSS FOR SLIDER STARTS */
.slider1{
	background-image:url('../images/slider/slider_image_1.png');
	background-position:center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
}
.slider2{
	background-image:url('../images/slider/slider_image_2.png');
	background-position:center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
}

.slider-content{
	background-color:rgba(0,0,0,0.6);
	padding-top:150px;
	padding-bottom:150px;
	font-size:50px;
	text-align:center;
	color:white;
	font-weight:200;
}

.phone_number{
	background-color:rgba(0,0,0,0.3);
	text-align:center;
	position:relative;
	padding:7px 0px;
	
}


.phone-prefix{
	background-color:white;
	padding:5px 10px;
	border-right:1px solid #ACACAC;
	font-weight:bold;
	height:50px;
	border-radius:5px;
}

.phone_number input[type="tel"]{
	border:0px;
	border-left:1px solid;
	margin-left:10px;
	padding-left:5px;
}

.phone_submit{
	margin-left:10px;
	color:white;
	background-color:#E01E31;
	border:1px solid #E01E31;
	padding:3px 40px;
}
/*CSS FOR SLIDER ENDS */


/* CSS FOR OVERLAPPING ELEMENTS BEGINS */
.parent_pos{
	position:relative;
}

.parent_pos>img{
	width:100%;
}
.child_pos{
	position:absolute;
	width:100%;
	background-color:rgba(0,0,0,0.6);
	bottom:0;
}

/*CSS FOR OVERLAPPING ELEMENTS ENDS */

/* CSS FOR CONTENT SECTION  BEGINS */
.how_does p{
	font-size:18px;
	margin-bottom:20px;
}
.how_does img{
	margin-bottom:10px;
}
.how_does{
	margin-top:30px;
}


.get-started{
	color:#E01E31;
	background-color:white;
	padding:10px 40px;
	font-size:20px;
	border:1px solid #E01E31;
	border-radius:5px;
	margin:20px auto 30px;
}
.margin-top-br{
	margin-top:40px;
}

.blue_bg_img:before{
	background:#45ADCB;
	padding-top:20px;
	padding-bottom:20px;
	width:100%;
	height:100%;
	transform:skewY(-3deg);
	content:'';
	position:absolute;
}
.blue_bg_img{
	position:relative;
}

/*
	background:url('../images/background/bg_blue.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
	width:100%;
	padding:30px 0px;
	*/

.why_download .col-md-3{
		padding:0px 2%;
		margin-bottom:20px;
	}
.red_bg_img{
	background-image:linear-gradient(-2deg,white 0%,white 15%,#ff6a66 15%,#ff6a66 85%,white 85%,white 100%);
	padding:3% 0px;
}
.why_download h3{
	  
	  font-size:25px;
	}
/* CSS FOR CONTENT SECTION ENDS */

/* CSS FOR COLOR AND ALIGNMENT OF ELEMENT BEGINS */
.heading{
	font-size:25px;
	text-align:center;
}
.text-center{
	text-align:center;
}
.text-padding-30{
	padding:0px 30%;
}
.white{
	color:white;
}
.black{
	color:black;
}
/* CSS FOR COLOR AND ALIGNMENT OF ELEMENT ENDS */
/* CSS FOR TABLET STARTS */


@media (max-width:1250px) and (min-width:760px){
	.heading{
		font-size:20px;
	}
	.how_does img{
		width:20%;
	}
	.why_download .col-md-3{
		padding:0px 2%;
	}
	
	.why_download h3{
	  text-transform: uppercase;
	  font-size:20px;
	}
	.why_download img{
		width:50%;
	}
	.img_center {
	margin:0px auto;
	}
	
}
@media(max-width:990px){
	.clear{
	clear:both;
	}
	.why_download img{
		width:36%;
	}
	.why_download .col-md-3{
		padding:0px 10%;
	}

}
/* CSS FOR TABLET ENDS */
/* CSS FOR MOBILE PHONES START */
@media(max-width:768px){
	.heading{
		font-size:20px;
		margin-bottom:35px;
		margin-top:10px;
	}
	.how_does p{
		font-size:13px;
	}
	.how_does img{
		width:25%;
	}
	.why_download img{
		width:30%;
	}
	.blue-bg_img{
		padding:70px 0px;
	}
	.benefits p{
	display:table;
	font-size:14px;
}

p{
	font-size:15px;
}
  .why_download h3{
	  text-transform: uppercase;
	  font-size:17px;
	}
	.offers .heading{
	font-size:20px;
	}
	.offers .heading a{
		font-size:16px;
	}
	.margin-top-30{
		margin-top:2px;
	}
	.brand_img{
		width:70%;
		margin:3px auto;
	}
	.content {
	  padding-top: 10px;
	  padding-bottom: 0px;
}
	.why_download img{
		width:20%;
		margin:3px auto;
	}
	.get-started{
	
  display: block;
  position: relative;
  top: 14px;
  clear:both;
  bottom:20px;
  margin-bottom: 50px;
 
}
.copyright {
  font-size: 10px;
}
	
}
/* CSS FOR MOBILE PHONE ENDS */