/* CSS FOR ACTIVE NAV LINK STARTS */
.navbar-nav a:hover{
	background-color:#E01E31 !important;
	color:white !important;	
}

/* CSS FOR ACTIVE NAV LINK ENDS */
.navbar{
	background-color:white;
	margin-bottom:0px !important;
}
.navbar-brand{
	padding-top:5px !important;
}
.navbar-brand>img{
	margin-left:40px;
}
/*CSS FOR ACTIVE NAV LINK ENDS*/
/* CSS FOR TABLET STARTS */
@media(min-width:768px,max-width:1250px){
	.navbar-header button{
		float:left;
		border:0px;
	}
	.navbar-header img{
		width:60%;
	}
}
/* CSS FOR TABLET ENDS */
/* CSS FOR PHONE STARTS */
@media(max-width:768px){
	.navbar-header button{
		float:left;
		border:0px;
		margin-left:10px;
	}
	.navbar-header img {
	  width: 71%;
	  margin-left: 0px;
	  margin-top: 5px;
	}
	#navigation{
		width:100%;
	}
	.navbar-header{
		border-bottom:1px solid #e7e7e7;
	}
	.navbar-collapse {
 
  -webkit-overflow-scrolling: touch;
  border-top:0px;
  
}

}
/* CSS FOR PHONE ENDS */