/* CSS FOR FONT  STARTS*/
@font-face{
	font-family:"openSans";
	src:url('../fonts/open-sans.ttf');
}
@font-face{
	font-family:'fontawesome';
	src:url('../fonts/fontawesome-webfont.ttf');
}
*{
	font-family:"openSans";
}
/* CSS FOR FONT ENDS */


/* CSS FOR CONTENT SECTION BEGINS */
.content{
	padding-top:30px;
	padding-bottom:30px
}
.heading{
	font-size:35px;
	text-align:center;
	margin-bottom:30px;
}
.black{
	color:black;
}
.white{
	color:white;
}
.red{
	color:#DF2C36;
}
.grey{
	color:gray;
}
.green_bg{
	background-color:#37A16F;
}
.red_bg{
	background-color:#FF6A66;
}

.yellow_bg{
	background-color:#F4A805;
}

.blue_bg{
	background-color:#01B0CD;
}

.light_grey_bg{
	background-color:#ECECEC;
}
.blue_bg_img{
	background-image:linear-gradient(-2deg,white 0%,white 15%,#01b0cd 15%,#01b0cd 85%,white 85%,white 100%);
	padding:80px 0px;
}

.red_bg_img{
	background-image:linear-gradient(-2deg,white 0%,white 15%,#ff6a66 15%,#ff6a66 85%,white 85%,white 100%);
	padding:80px 0px;
}

.no-padding{
	padding:0px;
}
.no-padding-top{
	padding-top:0px !important;
}
.text-center{
	text-align:center;
}
.text-left{
	text-align:left;
}
.icon-round{
	padding:30px 0px;
	border-radius:500px;
	display:table;
	margin:30px auto 10px;
}

.icon-round-border-red{
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #FF0101; 
	height: 50px;
	width: 50px;
	border-radius: 200px;
}

#its_fast{
	text-align:right;
	margin-bottom:50px;
	background-image:url('../images/icons/its_fastest_2.png');
	background-repeat: no-repeat;
	background-position: right center;
	padding-right:50px;
	background-size:contain;
}/*
#its_fast:before{
	margin-left:20px;
	background-image:url('../images/icons/its_fastest.png');
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #FF0101; 
	height: 50px;
	width: 50px;
	border-radius: 200px;
	background-size:35px 35px;
	content:'';
	display:inline-block;
	vertical-align:middle;
	float:right;
}
*/
#you_can_pay{
	text-align:left;
	margin-bottom:50px;
	background-image:url('../images/icons/you_can_pay_2.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-right:50px;
	background-size:contain;
}/*
#you_can_pay:before{
	margin-right:20px;
	background-image:url('../images/icons/you_can_pay.png');
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #FF0101; 
	height: 50px;
	width: 50px;
	border-radius: 200px;
	background-size:35px 20px;
	content:'';
	display:inline-block;
	vertical-align:middle;
	float:left;
}*/

#each_rupee{
	text-align:right;
	margin-bottom:50px;
	background-image:url('../images/icons/each_rupee_ofrecharge_2.png');
	background-repeat: no-repeat;
	background-position: right center;
	padding-right:50px;
	background-size:contain;
}/*
#each_rupee:before{
	margin-left:20px;
	background-image:url('../images/icons/each_rupee_ofrecharge.png');
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #FF0101; 
	height: 50px;
	width: 50px;
	border-radius: 200px;
	background-size:35px;
	content:'';
	display:inline-block;
	vertical-align:text-top;
	float:right;
}
*/
.padding-40{
	padding-left:40px;
	padding-right:40px;
}
.padding-30{
	padding-left:30px;
	padding-right:30px;
}
.padding-50{
	padding-left:50px;
	padding-right:50px;
}

.get-started{
	color:#E01E31;
	background-color:white;
	padding:10px 40px;
	font-size:20px;
	border:1px solid #E01E31;
	border-radius:5px;
	margin:40px auto 40px;
	display:block;
	clear:both;
	margin-top: 37px;
  display: block;
  position: relative;
  top: 14px;
  bottom:20px;
}
.margin-top-30{
	margin-top:30px
}
.margin-top-50{
	margin-top:50px
}
.margin-top-10{
	margin-top:10px
}
.margin-top-20{
	margin-top:20px
}
.margin-bottom-55{
	margin-bottom:55px !important;
}
.margin-bottom-30{
	margin-bottom:30px;
}
dl dd{
	margin-bottom:10px;
}
.bg_black{
	background-color:black;
	border-radius:300px;
}

.see_offers{
	font-size:15px;
	color:black;
	text-decoration:none;
}
.see_offers:hover{
	font-size:15px;
	color:black;
	text-decoration:none;
}

.parent_pos{
	position:relative;
}

.parent_pos>img{
	width:100%;
}
.child_pos{
	position:absolute;
	width:100%;
	background-color:rgba(0,0,0,0.6);
	bottom:0;
}
.discount_item{
	padding:10px 0px;
}

ul{
	list-style-type:none;
}

.no-marg{
	margin-top:-20px !important;
}

.social{
	font-family:'fontawesome';
	display:inline;
	
}
.social i{
	color: #FFF;
	background-color: black;
	padding: 13px 15px;
	border-radius: 20px;
}


p{
	margin-bottom:20px;
}

.left{
	float:left;
	margin-right:20px;
}

.right{
	float:right;
	margin-left:20px;
}
.benefits{
	padding-bottom:50px;
}

.benefits p{
	display:table;
	font-size:20px;
}
.checklist li{
	background-image:url('../images/icons/list-style-type-check.png');
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:40px;
}

.info{
	font-size:25px;
	font-weight:50;
}

.heading2{
	font-size:28px;
}

/* CSS FOR MAP BEGINS*/

#map-canvas{
	width:100%;
	height:500px;
}

/* CSS FOR MAP ENDS */
/* CSS FOR BRAND SECTION STARTS*/
.brand_img img{
	display:block;
	margin:10px auto;
}
.round-border-grey img{
	border:2px solid #c7c7c7;
	border-radius:300px;
	
}

/* CSS FOR BRAND SECTION ENDS*/

/* CSS FOR CONTENT SECTION ENDS */