// colors
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

$color-1: #39393c; // charcoal
$color-2: #79b6e4; // blue
$color-3: #dadee1; // light blue
$color-4: #ffffff; // white

// fonts 

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Open Sans', serif;