/* CSS FOR CREDIT CARD AND DEBIT CARD BEGINS */
label{
	display:block;
}
select,option,input[type=text]{
	background:transparent;
	border:1px solid;
}

.card_type{
	width:75%;
}
.expiry{
	width:40%;
}
/* CSS FOR CREDIT CARD AND DEBIT CARD ENDS */
/* CSS FOR PAYUMONEY BEGINS */
#payu_heading{
	display:inline;
	font-size:22px;
}
#payu_heading>span{
	font-size:17px;
}
.white_bg{
	background-color:white !important;
	width:215px;
}
/* CSS FOR PAYU MONEY ENDS */
/* CSS FOR BOTTOM CONTENT BEGINS */
.confirm-payment{
	width: 160px;
	border: 0px none;
	background-color: #DD1F33;
	height: 35px;
	color: #FFF;
	border-radius: 5px;
	position: relative;
  top: -7px;
  left: 10px;
}

.border-left{
	border-left:2px solid #B6B6B6;
	padding-left:20px;
}
.confirm{
	padding-left:96px;
}
/* CSS FOR BOTTOM CONTENT ENDS */
input[type=text]{
	padding-left:10px;
}
input[type=checkbox]
{
	border-radius:0px;
	margin-right:10px;
	border:1px solid;
}

#name_this_Card{
	width:300px;
	margin-top:10px;
}
/* CSS FOR PAYMENT OPTION BEGINS*/
#payment_navigation>ul{
	
	padding-right:10px;
	text-align:right;
	margin-bottom:30px;
}

#payment_navigation>ul>li>a{
	font-size:20px;
	color:#B6B6B6;
	text-decoration:none;
	outline: 0px;
}

#payment_navigation>ul>li{
	margin-bottom:30px;
}

.active_payment>a{
	color:black !important;
	border-bottom:2px solid #BD9498;
}
/*CSS FOR PAYMENT OPTION ENDS */

/* CSS FOR NET BANKING BEGINS */
.bank_opt{
	border:1px solid;
	padding:10px;
	padding-right:0px;
	height:80px;
	margin-bottom:30px;
	display:table;
	float:left;
	margin-left:30px;
}
.bank_opt	img{
	margin-left:10px;
	width:80%;
}
.other_banks{
	width:264px;
	margin-left:30px;
	padding:5px 0px;
}
/* CSS FOR NET BANKING ENDS */
/* CSS FOR MODAL BEGINS */

.modal-content{
	padding:0 10px;
	border-radius:0px;
	margin-top:30%;
}
#failure .modal-header{
	border-bottom:1px solid #CF2732;
}
#failure .modal_button{
	width: 100px;
	height: 30px;
	border-radius: 0px;
	clear: both;
	border: 0px;
	color:white;
	font-weight:50;
}
.cls{
	background-color:#D23F44;
	color:white;
	font-weight:bold;
	float: right;
	border: 0px none;
	border-radius: 100px;
}
#try-again{
	background-color:#E01E31;
}
#cancel-button{
	background-color:#AAAAAA;
}

#payment_navigation{
	text-align:right;
}
#payment_navigation > ul > li {
    margin-bottom: 30px;
    padding-left: 42%;
    text-align: left;
}
#payment_navigation > .tabs > .active a {
    border-bottom: 2px solid #bd9498;
    color: black !important;
}
/*CSS FOR MODAL ENDS */


/* MEDIA QUERIES STARTS*/
@media(min-width:700px,max-width:1050px){
	.card-type{
		width:100%;
	}
	.expiry{
		width:40%;
	}
	.margin-top-10{
		margin-top:10px;
	}
#payment_navigation > ul > li {
    margin-bottom: 30px;
    padding-left: 15%;
    text-align: left;
}
#payment_navigation > ul > li > a {
    color: #b6b6b6;
    font-size: 13px;
    text-decoration: none;
}
#payment_navigation > ul > li > a {
    color: #b6b6b6;
    font-size: 17px;
    text-decoration: none;
}
}

@media(max-width:840px){
	#payment_navigation ul>li{
		display:inline;
		margin:10px;
	}
	#payment_navigation ul,#payment_navigation{
		text-align:left;
	}
	.border-left{
		border:0px;
	}
}

@media(max-width:1100px){

#payment_navigation > ul > li {
    margin-bottom: 30px;
    padding-left: 0%;
    text-align: left;
}
}

/*MEDIA QUERIES ENDS*/
