@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@font-face {
	font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/OpenSans-Light.ttf);

}
.operatorstrip div.bottomtext
{
    font-size: 14px;
    padding-top: 5px;
    text-align: center;
    width: 80px;
    color: #000;
}

.operatorstrip div.oprdiv
{
   padding-left: 110px;
}
.forwardslash
{
font-size: 45px;
    margin-top: -7px;
    padding: 0;
    vertical-align: bottom;
    width: 48px;
}
img.giftsicons {
    margin-right: 10px;
}
.bgnav {
    background-color: white;
}
.amt-sty{
	font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size:24px;
}
.btn-main {
    background: none repeat scroll 0 0 #d72b28;
    border: 1px solid #fff;
    border-radius: 0.25em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 0.65em 1.5em;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease-in-out 0s;
}



*::before, *::after {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
.btn-main-download {
    background: none repeat scroll 0 0 #ed1c24;
    border: 1px solid #fff;
    border-radius: 0.25em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease-in-out 0s;
	color:white; text-decoration: none;
}

.btn-main-download a{
 	color: #fff;
}
.btn-main-download:hover {
			background-color:#fff;
			color:#ed1c24;
			text-decoration: none;
			border:1px solid #ed1c24;
		}
.link-partner {
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #ed1c24;
    border-radius: 0.25em;
	color: #ed1c24;
	text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px;
    text-align: center;
    position: relative;
    transition: all 0.25s ease-in-out 0s;

}
.link-partner a {
	color: #ed1c24;
}
.link-partner:hover{
	color: #c20108;
	text-decoration: underline;
}


.main_txt{
	font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size:51px;
  line-height: 1.5em;
  margin: 0 0 1em 0;
  display:inline-block;
  }
.main_toptxt{
padding-top:140px;
padding-left:80px;

}
.imgtop{
padding-top:100px;
}
 @media (max-width: 768px) {
 .imgtop{
padding-top:10px;
}
 }
 @media (max-width: 768px) {
	.main_toptxt{
	padding-top:70px;
	padding-left:5px;
	}
	
	.main_txt{
	font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size:2em;
  display:inline-block;
  }
  
  
 
 }
  .pay1_txt{
  color:#18b491;
	font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  }
  .contact_title{
  	 			font-size: 3em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 1em;
			   color:#fff;
  
  }
  @media (max-width: 768px) {
   .contact_title{
  	 			font-size: 2em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 1em;
			   color:#fff;
  
  }
  }

.footer_text{
font-size:20px;
}
.bgfooter{
	background-color:#FFFFFF;
}
 @media (max-width: 768px) {
 .footer_text{
font-size:16px;
}
 
 }

.clear {
	clear:both;
}

  .btn-site {
  color: #fff;
  background-color: #18b491;
  border-color: #46b8da;
}
.btn_pad{
padding:1em 0;

}
.dload{
color:#FFFFFF;
margin:5px 5px;
}

.dloadpay1{
color:#FFFFFF;
   padding-right: 20px;
}
 @media (max-width: 768px) {
 .dloadpay1{
color:#FFFFFF;
padding:10px 0 10px 10px;
}
 
 }
 .knowmore{

 padding:0;
 }
 /*
		.btn-main {
			-webkit-appearance: none;
			position: relative;
			display: inline-block;
			background: #fff;
			padding: 0.65em 1.5em 0.65em 1.5em;
			border-radius: 0.25em;
			cursor: pointer;
			border: 1px solid #18b491;
			color: #18b491;
			text-align: center;
			
			text-decoration: none;
			-moz-transition: all 0.25s ease-in-out;
			-webkit-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;
		}
		*/
		.btn-main:hover {
			background-color:#18b491;
			color:#fff;
		}
		
		 @media (max-width: 768px) {
	.btn-main {
			-webkit-appearance: none;
			position: relative;
			display: inline-block;
			background: #fff;
			padding: 0.45em 1em 0.45em 1em;
			border-radius: 0.20em;
			cursor: pointer;
			border: 1px solid #18b491;
			color: #18b491;
			margin-top:-40px;
			text-align: center;
			text-decoration: none;
			-moz-transition: all 0.25s ease-in-out;
			-webkit-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;
		}
		.btn-main:hover {
			background-color:#18b491;
			color:#fff;
		}
 
 }


.btn-site:hover,
.btn-site:focus,
.btn-site:active,
.btn-site.active,
.open > .dropdown-toggle.btn-site {
  color: #fff;
  background-color: #18b491;
  border-color: #fff;
}
.btn-site:active,
.btn-site.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-site.disabled,
.btn-site[disabled],
fieldset[disabled] .btn-site,
.btn-site.disabled:hover,
.btn-site[disabled]:hover,
fieldset[disabled] .btn-site:hover,
.btn-site.disabled:focus,
.btn-site[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-site.disabled:active,
.btn-site[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-site.disabled.active,
.btn-site[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #18b491;
  border-color: #fff;
}
.btn-site .badge {
  color: #5bc0de;
  background-color: #fff;
}


.btn-win {
  color: #333;
  background-color: #18b491;
  border-color: #fff;
}
.btn-win:hover,
.btn-win:focus,
.btn-win:active,
.btn-win.active,
.open > .dropdown-toggle.btn-win {
  color: #333;
  background-color:#18b491;
  border-color: #fff;
}
.btn-win:active,
.btn-win.active,
.open > .dropdown-toggle.btn-win {
  background-image: none;
}
.btn-win.disabled,
.btn-win[disabled],
fieldset[disabled] .btn-win,
.btn-win.disabled:hover,
.btn-win[disabled]:hover,
fieldset[disabled] .btn-win:hover,
.btn-win.disabled:focus,
.btn-win[disabled]:focus,
fieldset[disabled] .btn-win:focus,
.btn-win.disabled:active,
.btn-win[disabled]:active,
fieldset[disabled] .btn-win:active,
.btn-win.disabled.active,
.btn-win[disabled].active,
fieldset[disabled] .btn-win.active {
  background-color: #18b491;
  border-color: #fff;
}
 .btn-win .badge {
   color: #fff;
   background-color: #18b491;
}
.operatorstrip img
{
 height: 50px;

}
 .greybg{	
    background-color:#34495E;
    padding-top:66px;
    padding-bottom:80px;
    padding-left: 7%;
  	padding-right: 7%;
  }

    .greenbg{	
    background-color:#00B16A;
    padding-top:66px;
    padding-bottom:80px;
    padding-left: 7%;
  	padding-right: 7%;
  }
  .redbg{
  	background-color:#E26A6A;
  	padding-top:66px;
    padding-bottom:80px;
    padding-left: 7%;
  	padding-right: 7%;
  }
  .yellowbg{
  	background-color: #C8F7C5;
  	padding-top:66px;
    padding-bottom:80px;
    padding-left: 7%;
  	padding-right: 7%;

  }
   @media (max-width: 768px) {
	  .greenbg{	
	   background-color:#18b491;
	   padding-top:30px;
	   padding-bottom:10px;
	  }
  }
  

  
  .how_title{
  	           font-size: 3em;
	           font-weight: 300;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#fff;
			   padding-left:30px;
			   padding-right:30px;
  }
   @media (max-width: 768px) {
   .how_title{
  	           font-size: 2em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#fff;
			   padding-left:10px;
			   padding-right:10px;
  }
 
   }
  
    .excitement_txt{
  	           font-size:1.5em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#fff;
			   margin: 1em 0 1em 0;
			   padding: 0 120px;
			   line-height:2em;
		
  }
   @media (max-width: 768px) {
   
   
    .excitement_txt{
  	           font-size:1em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#fff;
			   margin:0;
			   padding: 0 30px 40px 40px;
			   line-height:2em;
		
  }
   
   }
   .benefit_ul{
   		color:#FFFFFF;
     	font-size: 2em;
	    font-weight: 400;
		text-align:left;
		margin:10px;
		padding:10px;
		 
   }
   .benefit_li{
	 background: url(../img/check_button.svg) no-repeat 0px 40px transparent;

    list-style-type: none;
    margin: 0 0 0 0;
	line-height:50px;
    padding: 30px 0px 1px 70px;
    vertical-align: middle;
	
   }
   .uldiv{
   padding-left:10px;
   }
   .paymentrow{
   margin-top:50px;;
   }
         .howicon_subtxt{
  	           font-size:1.25em;
	           font-weight: 300;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#fff;
			   margin:0;
			   padding: 20px 0 0 0;
		
  }
           .howicon_subtxt_black{
  	           font-size:1.25em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#1c1c1c;
			   margin:0;
			   padding: 10px 0 0 0;
		
  }
    @media (max-width: 768px) {
	         .howicon_subtxt_black{
  	           font-size:1em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#000;
			   margin:0;
			   padding: 10px 0 0 0;
		
  }
	}
    @media (max-width: 768px) {
	       .howicon_subtxt{
  	           font-size:1.00em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#fff;
			   margin:0;
			   padding: 0;
		
  }
	}
  .how_txt{
  	           font-size:1.5em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#fff;
			   margin: 2em 0 0 0;
			   padding: 0 260px;
			   line-height:2em;
		
  }
    .how_txt{
  	           font-size:1.5em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#fff;
			   margin: 2em 0 0 0;
			   padding: 0 260px;
			   line-height:2em;
		
  }
  @media (max-width: 768px) {
   
  .how_txt{
  	           font-size:1.0em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	  
			   color:#fff;
			   margin: 1em 0 0 0;
			   padding: 0 0 5px 5px;
			   line-height:1.5em;
		
  }
  }
        .howicon_txt_black{
  	           font-size:1.55em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           
			   color:#1c1c1c;
			   margin:0 0 0 0;
			   padding: 20px 0 0 0;
		
  }
     @media (max-width: 768px) {
	     .howicon_txt_black{
  	           font-size:1.55em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#000;
			   margin:0;
			   padding: 0;
		
  }
	 }
      .howicon_txt{
  	           font-size:2.1em;
	           font-weight: 300;
	           letter-spacing: 0.05em;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#fff;
			   margin:20px 0 0 0;
			   padding: 0;
		
  }
   @media (max-width: 768px) {
   	 .howicon_txt{
  	           font-size:1.0em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#fff;
			    margin:20px 0 0 0;
			   margin:0;
			   padding: 0;
		
  }
   }
  .ic{
  text-align:center;
  }
  .freegift_im{
  display:inline-block;
  }
  .freegift_center{
  text-align:center;
  }
  .howmain{
  padding-top:5em;
  padding-bottom:5em;
  }
  .howto_top{
  margin-top:50px;
  }
  .freetop{
  margin-top:2em;
  }
    .how_title_black{
  	           font-size: 3em;
			   font-weight:400;
			   text-align:center;
			   display:block;
	           margin-bottom: 40px;
			   color:#000;
  }
    @media (max-width: 768px) {
	    .how_title_black{
  	           font-size: 2em;
			   font-weight:400;
			   text-align:center;
			   display:block;

			   color:#000;
  }
	}
      .howsafe_title_black{
  	           font-size: 3em;
	           font-weight: 400;
			   text-align:left;
			   display:block;
			   color:#000;
  }
  @media (max-width: 768px) {
   .howsafe_title_black{
  	           font-size: 2em;
	           font-weight: 400;
			   text-align:left;
			   display:block;
			   color:#000;
  }
  }
    .how_txt_black{
  	           font-size:1.7em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
			   line-height:2em;
	           margin-bottom: 0;
			   color:#000;
			   margin: 2em 0 0 0;
			    padding: 0 150px;
		
  }
    @media (max-width: 768px) {
	 
    .how_txt_black{
  	           font-size:1em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
			   color:#000;
			   margin: 1em 0 0 0;
			    padding: 0 5px;
		
  }
	
	}
  
      .how_txtsm_black{
  	           font-size:1.5em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
			   line-height:2em;
	           margin-bottom: 0;
			   color:#000;
			   margin: 2em 0 2em 0;
			  padding: 0 180px;
			  color:#34495e;
  }
  .imgbottom{
  margin-bottom:3em;
  }
  @media (max-width: 768px) {
  .imgbottom{
  margin-bottom:1em;
  }
  }
   @media (max-width: 768px) {
     .howmain{
  padding-top:2em;
  }
     .how_txtsm_black{
  	           font-size:1em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#000;
			   margin: 0em 0 1em 0;
			     padding: 0 40px;
				 color:#34495e;
  }

      .how_txt_black{
  	           font-size:1.25em;
	           font-weight: 400;
			   text-align:center;
			   display:block;
	           margin-bottom: 0;
			   color:#000;
			   margin: 1em 0 0 0;
				padding: 0 20px;
		
  }
   }
  
  .ssl_img{
  text-align:center;
  padding:20px 0;
  }
  
  .howsafe{
  padding:30px 0 0 0;
  text-align:left;
  }
   @media (max-width: 768px) {
     .howsafe{
  padding:10px 0 0 0;
  text-align:left;
  }
 

   }
   
   
     	.footer_img
	{
		position: relative;
		margin: 0;
		width:100%;
		height:305px;
		background-image:url(../img/footer_bg.jpg);
		background-size:			cover;
		background-position:		center center;
		background-repeat:			no-repeat;
		padding: 2em 0 0 0;
		text-align: center;
		color: #fff;
	}
	.social_top{
	padding-top:1em;
	}
	.hrsty{
	width:80%;
	margin-top:1em;
	}
	 @media (max-width: 768px) {
	 .hrsty{
	width:80%;
	margin-top:1em;
	}
	 
	 }
		 @media (max-width: 768px) {
	.social_top{
	padding-top:1em;
	}	 
	 }
	
	 @media (max-width: 768px) {
	.social_top{
	padding-top:80px;
	}	 
	 }
	   @media (max-width: 768px) {
	    	.footer_img
	{
		position: relative;
		margin: 0;
		width:100%;
		height:100%;
		background-image:url(../img/footer_bg.jpg);
		background-size:			cover;
		background-position:		center center;
		background-repeat:			no-repeat;
		padding: 1em 0 0 0;
		text-align: center;
		color: #fff;
	}
	   
}
.pay1footer{
padding-bottom:2em;
}
       .howsafe_text_black{
  	           font-size: 1.375em;
	           font-weight: 400;
			   text-align:left;
			   line-height:2em;
			   display:block;
	           padding:1em 14em 0 0;
			   color:#000;
  }
    @media (max-width: 768px) {
	 .howsafe_text_black{
  	           font-size: 1em;
	           font-weight: 400;
			   text-align:left;
			   line-height:1.5em;
			   display:block;
	           padding:1em 1em 1em 0;
			   color:#000;
  }
	}
  .bluebg{
  background-color:#1f91d7;
  text-align:center;
  padding-top:60px;
  padding-bottom:20px;
  }
  .peachbg{
  	background-color: #E74C3C;
  	text-align:center;
  	padding-top:60px;
  	padding-bottom:20px;
  	padding-left:7%;
  	padding-right:7%;
  }
    @media (max-width: 768px) {
	  .bluebg{
  background-color:#1f91d7;
  text-align:center;
  padding-top:30px;
  padding-bottom:10px;
  }
	}
	.becomepart{
		padding-left:20px;
		padding-bottom:50px;
	}
	.becomepart_rt{
	padding-right:20px;
	margin:0;
	}
	.bottomrow{
	margin-bottom:4em;
	}
	.topspace{
	margin-top:4em;
	}
	@media (max-width: 768px) {
	.becomepart{
		padding-left:20px;
		padding-right:20px;
	}
		.becomepart_rt{
	padding-right:20px;
	padding-left:20px;
	margin:0;
	}
	}
  .pay1_opt{
          font-size:1.5em;
	           font-weight: 400;
			   text-align:center;
			   color:#fff;
			   display:block;
				padding-bottom: 20px;
  }
    .pay1_opt_txt{
          font-size:1.2em;
	           font-weight: 400;
			   text-align:center;
			   line-height:2em;
			   color:#fff;
			   display:block;
			   padding: 0;
  }
  @media (max-width: 768px) {
.pay1_opt{
          font-size:1.250em;
	           font-weight: 400;
			   text-align:center;
			   color:#fff;
			   display:block;
				padding-bottom: 5px;
  }
    .pay1_opt_txt{
         	   font-size:1em;
	           font-weight: 400;
			   text-align:center;
			   line-height:1.2em;
			   color:#fff;
			   display:block;
			   padding: 0;
  }
}
.redeembar{
	padding-top:10px;
}
.howdoes_img{

  display: inline-block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
  padding: 2px;
  line-height: 1.42857143;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;		  
		  }
		    @media (max-width: 768px) {
			.howdoes_img{
.img-center {
    display: block;
    margin: 0 auto;
}
  display: inline-block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
  padding: 1px;
  line-height: 2em;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;		  
		  }
			
			}
.pay1_logo{
	padding:5px;
	margin-top:-17px;
}

.container {
	width: 100%;
	height:516px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;
}

#map-container{
    height: 500px;
    width: 500px;
}

.popular_thumtxt{
	text-align:center;
	font-family:OpenSans-Light;
	font-size:14px;
	width:auto;
	height:auto;
}

.footerbg {
	  padding-right: 15px;
	  padding-left: 15px;
	  margin-right: auto;
	  margin-left: auto;
	  background-color:#CCCCCC;
}
footer{
	text-align:center;
	background-color:#212121;
	color:#dadada;
}
.row1{
	background-color:#e1e1e1;
}
.row_sec{
margin:0;
padding:0;
background-color:#CCCCCC;
}

.social li{
	display:inline-block;
	padding:5px;
}

.visacard{
	display:inline-block;
	padding:5px;
	list-style-type:none;
}

.formmenuul{
	display:inline-block;
	list-style-type:none;
}
.bgdark{
background-color:#999999;
text-align:center;
}